@section css{


    <link href="~/CSS/repairCase.css" rel="stylesheet" />

}



@model IList<Web_AppleBar.Models.RepairCase_Ipad>


<div class="container">
    <br /><br />

    <div class="row row-cols-1 row-cols-md-3">

        @foreach (var item in Model)
        {



        <div class="col mb-4">
            <div class="paragraph">

                <strong style="color:rgb(63, 63, 63);font-size:18px;">維修機型: @item.Model<br>故障原因: @item.Malfunction</strong>
            </div>
            <div class="card">
                <img src="@Url.Content("~/Resource/Img/" + @item.Img)" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">@item.Model</h2>
                    <p class="card-text">@Html.Raw(@item.Contents)</p>
                </div>
            </div>
        </div>



















        }

    </div>


</div>


@section  scripts{

}